
<ul class="nav nav-tabs">
    <li>
        <a class="nav-link"  class="collapsible-header"routerLinkActive="active" [routerLink]="['/accueil']">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" class="collapsible-header" routerLinkActive="active" [routerLink]=" ['/produits']">Accessoires</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" class="collapsible-header" routerLinkActive="active" [routerLink]="['/contact']">Contact</a>
    </li>
   
    <li class="nav-item">
            <a class="nav-link"  class="collapsible-header"routerLinkActive="active" [routerLink]="['/rech']">recherche accessoire</a>
        </li>
</ul>


